*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-wrap: nowrap;

}

#cy {
  width: 80vw;
  height: 100vh;
  display: block;
}

.form-container {
  width: 20vw;
  min-width: 260px;
  height: 100vh;
  background-color: #531e5e;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  
  color: #fff;
  flex-wrap: wrap;
  padding: 20px;
}

form .forminput {
  display: flex;
  flex-direction: column;
}

form .forminput p {
  font-size: 0.8em;
}

form .forminput a {
  font-size: 0.8em;
  color: #6E9DC9;
}

form .forminput input {
  width: 230px;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #6E9DC9;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  background-color: #FFF;
}

form button {
  outline: none;
  width: 200px;
  height: 65px;
  background-color: #bbb0bb;
  color: #531e5e;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

form button:hover {
  background-color: #531e5e;
  color: #bbb0bb;
  border: 2px solid #bbb0bb;
}

@media(max-width: 650px){
  .App {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form-container {
    width: 100vw;
    background-color: #531e5e;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}